<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suyeq.dangyuliveapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION." />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/dog"

        android:label="@string/app_name"
        android:roundIcon="@drawable/dog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".loginregister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginregister.RegisterActivity" />
        <activity android:name=".editprofile.EditProFileActivity" />
        <activity android:name=".createlive.CreateActivity" />
        <activity
            android:name=".living.AnchorLivingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".watch.WatchLivingActivity" />
        <activity android:name=".classify.ClassifyActivity">
            android:hardwareAccelerated="true"
        </activity>
    </application>

</manifest>